<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Link Enviado</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">

            <div class="card shadow-lg">
                <div class="card-body">
                    <h3 class="text-center mb-4">Link Enviado</h3>
                    <p class="text-center text-muted mb-4">
                        O link para redefinição de senha foi enviado com sucesso para o seu e-mail.
                        Verifique sua caixa de entrada (ou spam) para prosseguir.
                    </p>

                    <p class="text-center">
                        <a href="{% url 'paciente:login' %}" class="btn btn-primary w-100">Voltar ao Login</a>
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
